<section id="page-change-password-first-login">
  <mat-grid-list cols="3">
    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-header color="primary" class="logo">
          <mat-card-title>{{
            "changePasswordFirstLoginTitle" | translate
          }}</mat-card-title>
        </mat-card-header>
        <form [formGroup]="confirmCodeForm" (submit)="send()">
          <div class="resendMessage">
            {{ "resendMessage" | translate: { email: email } }}
            <a
              class="resend-button"
              href="javascript:void(0)"
              (click)="resendOTP()"
              >{{ "resend" | translate }}</a
            >
          </div>
          <mat-form-field style="width: 100% !important">
            <mat-label>{{ "confirmCode" | translate }}</mat-label>
            <input formControlName="confirmCode" autofocus matInput />
          </mat-form-field>
          <p class="error" *ngIf="error.errorMessage">
            {{ error.errorMessage }}
          </p>
          <br />
          <button
            type="submit"
            mat-raised-button
            color="primary"
            style="margin: auto"
            [disabled]="!confirmCodeForm.valid"
          >
            {{ "send" | translate }}
          </button>
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
