
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$reconciliation-app-primary: mat.define-palette(mat.$indigo-palette);
$reconciliation-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$reconciliation-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reconciliation-app-theme: mat.define-light-theme((
  color: (
    primary: $reconciliation-app-primary,
    accent: $reconciliation-app-accent,
    warn: $reconciliation-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($reconciliation-app-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/4UaGrENHsxJlGDuGo1OIlL3Bwp5MKg.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/4UabrENHsxJlGDuGo1OIlLU94Yt8CwZ-Pw.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    // font-family: "Google Sans";
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #61b3db;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #61b3db;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tui-card {
    position: relative;
    margin-top: 1.5rem;
    border: 1px solid var(--tui-base-03);
    border-radius: var(--tui-radius-m);
    box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
